@page
@model AutomatedDispatcher.Pages.Manager.menuManagerModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutManager.cshtml";
}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    </head>

<h1 style="text-align:center" >Meniu Manager</h1>
<p>Spatiu gol</p>



<div class="container">
    <h2 style="text-align:center">Lista Programatori</h2>
    <table id="tableProgrammersManager" class="table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
            <tr>

                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Working Hours</th>
                <th scope="col">Current Workload</th>
                <th class="no-sort" scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.EmployeeList)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.WorkingHours</td>
                    <td>@employee.CurrentWorkload</td>

                    <td>
                        <a asp-page="../Employee/Edit" asp-route-id="@employee.Id">Edit</a> |
                        <a asp-page="../Employee/Details" asp-route-id="@employee.Id">Details</a> |
                        <a asp-page="../Employee/Delete" asp-route-id="@employee.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr>
    <h2 style="text-align:center">Lista Tasks</h2>

    <table id="tableTaskManager" class="table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                <th scope="col">Expected Time</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th class="no-sort" scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.TaskList)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Status</td>
                    <td>@task.Priority</td>
                    <td>@task.ExpectedTime</td>
                    <td>@task.StartDate</td>
                    <td>@task.EndDate</td>

                    <td>
                        <a asp-page="../Task/Edit" asp-route-id="@task.Id">Edit</a> |
                        <a asp-page="../Task/Details" asp-route-id="@task.Id">Details</a> |
                        <a asp-page="../Task/Delete" asp-route-id="@task.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>