@page
@model AutomatedDispatcher.Pages.Manager.menuManagerModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutManager.cshtml";
}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    </head>

<h1 style="text-align:center" >Meniu Manager</h1>
<p>&nbsp;</p>

<div class="container">
    <h2 style="text-align:center">Lista Tasks</h2>
    <table id="tableTaskManager" class="table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
            <tr>

                <th scope="col">Nume</th>
                <th scope="col">Status</th>
                <th scope="col">Prioritate</th>
                <th scope="col">Timp estimat</th>
                <th scope="col">Data inceput</th>
                <th scope="col">Data final</th>
                <th scope="col">Angajat</th>
                <th class="no-sort" scope="col">Optiuni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.TaskList)
            {
                <tr>
                    <td>@task.Name</td>
                    @if (task.StatusId == 1)
                    {
                        <td>Completed</td>
                    }
                    else if (task.StatusId == 2)
                    {
                        <td>Unassigned</td>
                    }
                    else if (task.StatusId == 3)
                    {
                        <td>In progress</td>
                    }
                    <td>@task.Priority</td>
                    <td>@task.ExpectedTime</td>
                    <td>@task.StartDate</td>
                    @if (task.EndDate != null) { 
                        <td>@task.EndDate</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <!-- If task doesn't have an employee, show nothing.-->
                    @if( task.Employee != null) 
                    { 
                        <td>@task.Employee.FirstName @task.Employee.LastName</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td>
                        <a asp-page="../Task/Edit" asp-route-id="@task.Id">Editeaza</a> |
                        <a asp-page="../Task/Details" asp-route-id="@task.Id">Detalii</a> |
                        <a asp-page="../Task/Delete" asp-route-id="@task.Id">Sterge</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr>

    <h2 style="text-align:center">Lista Programatori</h2>
    <table id="tableProgrammersManager" class="table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
            <tr>

                <th scope="col">Prenume</th>
                <th scope="col">Nume</th>
                <th scope="col">Norma de lucru</th>
                <th scope="col">Current Workload</th>
                <th class="no-sort" scope="col">Optiuni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.EmployeeList)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.WorkingHours</td>
                    <td>@employee.CurrentWorkload</td>

                    <td>
                        <a asp-page="../Employee/Edit" asp-route-id="@employee.Id">Editeaza</a> |
                        <a asp-page="../Employee/Details" asp-route-id="@employee.Id">Detalii</a> |
                        <a asp-page="../Employee/Delete" asp-route-id="@employee.Id">Sterge</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>