@page
@model AutomatedDispatcher.Pages.Programmer.TaskRefusedModel
@{
    ViewData["Title"] = "taskRefused";
    Layout = "~/Pages/Shared/_LayoutProgrammer.cshtml";
}

    <div class="container">
        <h1 class="text-danger">Task will be removed from your workload</h1>
        <h4>Task</h4>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.Priority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.ExpectedTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.ExpectedTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.Employee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.Employee.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Task.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Task.Status.Id)
            </dd>
        </dl>

        <form method="post">
            <a class="btn btn-primary text-white" asp-page="../Programmer/menuProgrammer/">Back to List</a>
            <a class="btn btn-secondary text-white" asp-page="../Programmer/taskDetailsProgrammer/" asp-route-id="@Model.Task.Id">Cancel</a>
            <input type="submit" value="Confima Respingere Task" class="btn btn-danger text-white" />
        </form>
    </div>

