@page
@model AutomatedDispatcher.Pages.Programmer.taskDetailsProgrammerModel

@{
    ViewData["Title"] = "taskDetailsProgrammer";
    Layout = "~/Pages/Shared/_LayoutProgrammer.cshtml";
}

<h1>Detalii Task</h1>

<div>
    <h4>Task ID: @Html.DisplayFor(model => model.Task.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.ExpectedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.ExpectedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Status.Status1)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="../Programmer/menuProgrammer">Back to List</a>
    <a class="btn btn-primary" >Mark as Completed</a>
    <a class="btn btn-danger">Refuse Request</a>
</div>

<div class="bg-"></div>
